.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 5px;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  text-align: left;
}

.table thead th {
  vertical-align: bottom;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  text-align: left;
}
